<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Book</title>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{../css/base.css}">
    <link rel="stylesheet" th:href="@{../css/gird.css}">
    <link rel="stylesheet" th:href="@{../css/main.css}">
    <link rel="stylesheet" th:href="@{../css/slider.css}">
    <link rel="stylesheet" th:href="@{../css/register_login.css}">
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .category-sort{
        	margin-top: 10px;
            height: 60px; 
            background-color: #fff; 
            border: 1px solid #f5f5f5; 
            display: flex; 
            align-items: center;
        }
        .m-left{
            margin-left: 15px;
        }
        .category-sort-span {
            margin-left: 10px; 
            font-size: 1.4rem; 
            color: #333;
            font-weight: 300;
        }
        
        .home-product-add .home-product-list:nth-child(n+16) {
		    display: none;
		}
    </style>
    <link rel="stylesheet" th:href="@{../css/responsive.css}">
</head>
<body>
    <div class="main">
		<div th:replace="~{navi.html}"></div>
        <div class="container">
            <!-- container -->
            
            <div class="app__container">
                <div class="grid wide">
                    <div class="row sm-gutter">
                        <!-- Danh mục -->
                        <div class="col l-2 m-0 c-0">
                            <nav class="category">
                                <h3 class="category__heading">Danh mục</h3>
                                <ul class="">
                                	<li th:each= "c: ${listCategory}" class="category-item">
                                     	<a th:href="@{/books/{id}(id = ${c.cid})}" class="category-item__link" th:classappend="${active} == ${c.cid} ? 'category-item--active' : ''" th:text="${c.cname}">...</a>                            	
                                   	</li> 
                                   	                                                                   
                                </ul>
                            </nav>  
                        </div>
                        <div class="col l-10 m-12 c-12">
                        	<div class="category-sort hide-on-mobile-tablet">
                                <span class="category-sort-span">Sắp xếp theo</span>
                                <a class="btn m-left" th:href="@{/sort-books/{id}(id = 1)}" style="border: 1px #f5f5f5 solid;">Yêu thích</a>
                                <a class="btn m-left" style="background-color:  #ea7221;" th:href="@{/sort-books/{id}(id = 3)}">Mới nhất</a>
                                <a class="btn btn--primary m-left" th:href="@{/sort-books/{id}(id = 2)}">Bán chạy</a>
                            </div>
                            <!-- sản phảm -->
                            <div class="home-product home-product--position">
                                <div class="home-product-pet">
                                    <div class="home-product-dog">
                                        <div class="row sm-gutter home-product-add">
                                            <!-- lisi -->
                                            <div th:each= "p: ${listProduct}" class="col l-2-4 m-4 c-6 home-product-list home-product-list--rating">
		                                        <a class="home-product-item" th:href="@{/book/{id}(id = ${p.idB})}">
		                                            <div class="home-product-item__img"  th:style="'background-image: url(/uploads/' + ${p.imageB} + ');'"></div>
		                                            <h5 class="home-product-item__name" th:text="${p.nameB}">...</h5>
		                                            <div class="home-product-item__action">
		                                            	<div class="product-rating-value home-product-item__rating " style="display: none"th:text="${p.rating}"></div>
			                                            <div class="home-product-item__rating">
		                                                    <div class="card-jfy-rating-layer top-layer checked home-product-item__rating--gold" style="width: 100%;">
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                    </div>
		                                                    <div class="card-jfy-rating-layer">
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                        <i class="fa-solid fa-star"></i>
		                                                    </div>
		                                                </div>
	                                                	<div class="product-rating-value home-product-item__rating" style="color: #999;">(40)</div>
		                                                <span class="home-product-item__rating-separate"></span>
		                                                <span class="home-product-item__action-sold" >Đã bán ${50}</span>
		                                            </div>
		                                            <div class="home-product-item__origin">
		                                                <span class="home-product-item__origin-title" th:text="${p.author}">...</span>
		                                            </div>
		                                        </a>
		                                        <script type="text/javascript">
			                                        var productItems = document.querySelectorAll('.home-product-list--rating');
			                                        productItems.forEach(function(item) {
			                                        	var ratingValue = parseFloat(item.querySelector('.product-rating-value').textContent);
			                                        	
			                                        	var ratingWidth = ratingValue * 20; // Chuyển đổi từ điểm đánh giá (0-5) sang phần trăm (0-100)
			                                        	var cardRatingLayer = item.querySelector('.top-layer');
			                                        	cardRatingLayer.style.width = ratingWidth + '%';
			                                        });
			
			                                    </script>
		                                    </div>
                                        </div>
                                        
                                    </div>
                                    <div class="pagination__add">
		                                <!-- <a class="pagination__add-list" href="">Tải thêm</a> -->
		                                <button class="pagination__add-list" onclick="loadMore()">Tải thêm</button>
		                            </div>
                                </div>
                                
                            </div>
        
                        </div>
                    </div>
                </div>
                <script type="text/javascript" th:src="@{../javascript/base.js}"></script>
                <script>
                                var displayedProducts = 15;
                                var productList = document.querySelector(".home-product-add");
                                var products = productList.querySelectorAll(".home-product-list");
                                if (displayedProducts >= products.length) {
                                    document.querySelector(".pagination__add").style.display = "none";
                                }
                                else {
                                	document.querySelector(".pagination__add").style.display = "block";
                                }
                                
                                //console.log(productList)
                                function loadMore() {
                                // Tăng số lượng sản phẩm đã hiển thị lên 3
                                    displayedProducts += 15;
                                    
                                    // Lấy danh sách các sản phẩm
                                    
                                   
                                    // Hiển thị các sản phẩm mới
                                    for (var i = 0; i < products.length; i++) {
                                        if (i < displayedProducts) {
                                            products[i].style.display = "block";
                                        }
                                    }
                                    
                                    // Ẩn nút "Tải thêm" nếu đã hết sản phẩm
                                    if (displayedProducts >= products.length) {
                                        document.querySelector(".pagination__add").style.display = "none";
                                    }
                                }

                            </script>
            </div>
            <div th:replace="~{footer.html}"></div>
        </div>
        
    </div>

</body>
</html>