<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{../css/base.css}">
    <link rel="stylesheet" th:href="@{../css/error.css}">
</head>
<body>
    <div class="container">
        <div class="es-image-wrapper">
            <div class="es-image"></div>
        </div>
        <div class="es-contents">
            <p class="nt-large es-title nt-medium">404</p>
            <p class="es-subtitle nt-regular nt-normal-p">Lỗi thực thi!</p>
        </div>
        <div class="es-buttons">
            <a href="/home" class="btn btn--primary">Trở về trang chủ</a>
        </div>
    </div>
</body>
</html>