
<meta charset="UTF-8">
			<footer class="footer">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-2-4 m-4 c-6">
                            <h3 class="footer__heading">Hỗ trợ khách hàng</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Các câu hỏi thường gặp</a>
                                    <a href="" class="footer-item__link">Gửi yêu cầu hỗ trợ</a>
                                    <a href="" class="footer-item__link">Hướng dẫn đặt hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <h3 class="footer__heading">Về WebBook</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu về WebBook</a>
                                    <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                    <a href="" class="footer-item__link">Chính sách bảo mật thông tin cá nhân</a>
                                    <a href="" class="footer-item__link">Chính sách giải quyết khiếu nại</a>
                                    <a href="" class="footer-item__link">Điều khoản sử dụng</a>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <h3 class="footer__heading">Hợp tác và liên kết</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Các câu hỏi thường gặp</a>
                                    <a href="" class="footer-item__link">Gửi yêu cầu hỗ trợ</a>
                                    <a href="" class="footer-item__link">Hướng dẫn đặt hàng</a>
                                    <a href="" class="footer-item__link">Phương thức vận chuyển</a>
                                    <a href="" class="footer-item__link">Chính sách đổi trả</a>
                                    <a href="" class="footer-item__link">Hướng dẫn đặt hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <h3 class="footer__heading">Phương thức thanh toán</h3>
                        </div>
                        <div class="col l-2-4 m-4 c-6">
                            <h3 class="footer__heading">Kết nối với chúng tôi</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer__text">
                            <p class="footer__text-item hide-on-mobile-tablet">WebBook nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng</p>
                            <p class="footer__text-item">© 2023 - Bản quyền của Công ty My Book</p>
                        </div>
                    </div>
                </div>
            </footer>
