<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Book</title>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/gird.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/slider.css">
    <link rel="stylesheet" href="./css/register_login.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main">
		
		<div th:replace="~{navi.html}"></div>
        <div class="container">
            <!-- container -->
            
            <div class="app__container">
                
                <div class="grid wide">
                    <div class="row sm-gutter">
                        <!-- Danh mục -->
                        <div class="col l-2 m-0 c-0">
                            <nav class="category">
                                <h3 class="category__heading">Danh mục</h3>
                                <ul class="category-list">   
									<li th:each= "c: ${listCategory}" class="category-item category-item--activve">
                                     	<a th:href="@{/books/{id}(id = ${c.cid})}" class="category-item__link" th:text="${c.cname}">...</a>
                                   	</li>                                                                   
                                </ul>
                            </nav> 
                        </div>
                        <div class="col l-10 m-12 c-12 hide-on-mobile-tablet">
                            <!-- sản phảm -->
                            <div class="card-fs-content-header" style="background-color: #fff;">
                                <div>
                                    <span class="stardust-tabs-header__text" style="color: #ee4d2d; font-size: 1.5rem; font-weight: 500; margin-left: 10px;">Sản phẩm bán chạy</span>
                                    <a th:href="@{/books/{id}(id = 0)}" class="card-fs-content-button">Mua sắm toàn bộ sản phẩm</a>
                                </div>
                            </div>
                            <div class="home-product home-product--position" style="background-color: #fff;">
                                <div class="home-product-pet">
                                    <div class="home-product-dog">
                                        <div class="row-nowrap sm-gutter">
                                            <!-- lisi -->
                                            <div th:each="pTop: ${listTopProduct}" class="col l-2-4 m-4 c-6">
                                                <a class="home-product-item" th:href="@{/book/{id}(id = ${pTop.idB})}">
                                                    <div class="home-product-item__img" th:style="'background-image: url(/uploads/' + ${pTop.imageB} + ');'"></div>
                                                    <h5 class="home-product-item__name" th:text="${pTop.nameB}">...</h5>
                                                    <div class="home-product-item__origin">
                                                        <span class="home-product-item__origin-title" th:text="${pTop.author}">...</span>
                                                    </div>
                                                    
                                                </a>
                                            </div> 
                                    	</div>       
                                    </div>
                                    <div class="home-product-dog-btn" >
                                        <div class="home-product-dog-item">
                                            <i class="fa-solid fa-chevron-left" id="btnLeft-dog"></i>
                                        </div>   
                                        <div class="home-product-dog-item">
                                            <i class="fa-solid fa-chevron-right" id="btnRight-dog"></i>
                                        </div>
                                    </div>
                                </div>
                                <script>
									  // Lấy danh sách các khung danh mục sản phẩm
									  const productContainer1 = document.querySelector('.home-product-dog');
									  const productContainer2 = productContainer1.querySelector('.row-nowrap');
									  const productContainers = productContainer2.querySelectorAll('.col');
									  let currentPosition = 0; // Xác định vị trí của khung danh mục sản phẩm hiện tại
									
									  // Lấy các nút chuyển đổi
									  const leftButton = document.getElementById('btnLeft-dog');
									  const rightButton = document.getElementById('btnRight-dog');
									
									  // Thêm transition CSS cho các container
									  productContainers.forEach(container => {
									    container.style.transition = 'transform 0.3s ease';
									  });
									
									  // Xử lý sự kiện click của nút chuyển đến trái
									  leftButton.addEventListener('click', () => {
									    if (currentPosition > 3) {
									    	currentPosition = currentPosition - 4;
									      updateContainerTransform();
									      rightButton.style.display = 'flex';
									      if (currentPosition === 0) {
									        leftButton.style.display = 'none';
									      }
									    }
									  });
									
									  // Xử lý sự kiện click của nút chuyển đến phải
									  rightButton.addEventListener('click', () => {
										  if (currentPosition < productContainers.length - 4) {
										      currentPosition = currentPosition + 4;
										      updateContainerTransform();
										      leftButton.style.display = 'flex';
										      if (currentPosition >= productContainers.length - 4) {
										        	rightButton.style.display = 'none';
										      }
										      
										    }
									  });
									
									  // Ẩn nút chuyển đến trái khi hiển thị khung đầu tiên
									  if (currentPosition === 0) {
									    leftButton.style.display = 'none';
									  }
									
									  // Cập nhật giá trị transform của container
									  function updateContainerTransform() {
									    productContainers.forEach(container => {
									      container.style.transform = `translateX(-${currentPosition * container.offsetWidth}px)`;
									    });
									  }
									
									  // Hàm thực hiện animation mượt mà
									  function animate() {
									    requestAnimationFrame(animate);
									    updateContainerTransform();
									  }
									
									  // Bắt đầu animation
									  animate();
									</script>
                                
                                <!--  -->
                            </div>
        
                        </div>
                    </div>
                </div>
                <!-- test danh mục-->
                <div class="grid wide hide-on-mobile-tablet">
                    <div class="row sm-gutter">
                        <div class="col l-12 m-12" style="margin-bottom: 10px;">
                            <div class="card-fs-content-header stardust-tabs-header" style="border-bottom: #d5d5d5 1px solid;">
                                <div class="stardust-tabs-header__text">
                                    <span style="font-size: 1.5rem">Có thể bạn quan tâm</span>
                                </div>
                                
                            </div>
                            <div>
                                <div class ="card-categories-ul">                               
                                    <div th:each="o: ${randomSelection}" class="card-categories-li align-left">
                                        <a th:href="@{/book/{id}(id = ${o.idB})}" class="card-categories-li-content">
                                            <div class="card-categories-image-container">
                                                <img th:src="'uploads/'+ ${o.imageB}" alt="" class="image">
                                            </div>
                                            <div class="card-categories-name">
                                                <spam class="card-categories-name__text" th:text="${o.nameB}"></spam>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="grid wide">
                    <div class="row sm-gutter">
                        <div class="col l-12 m-12">
                        	<div class="card-fs-content-header stardust-tabs-header">
                                <div class="stardust-tabs-header__text ">
                                    <span style="font-size: 1.5rem;">Gợi ý hôm nay</span>
                                </div>
                            </div>
                            <div class="home-product">
                                <div class="row sm-gutter home-product-add">
                                    <div th:each= "p: ${listProduct}" class="col l-2 m-4 c-6 home-product-list">
                                        <a class="home-product-item" th:href="@{/book/{id}(id = ${p.idB})}">
                                            <div class="home-product-item__img"  th:style="'background-image: url(/uploads/' + ${p.imageB} + ');'"></div>
                                            <h5 class="home-product-item__name" th:text="${p.nameB}">...</h5>
                                            <div class="home-product-item__origin">
                                                <span class="home-product-item__origin-title" th:text="${p.author}">...</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination__add">
                                <!-- <a class="pagination__add-list" href="">Tải thêm</a> -->
                                <button class="pagination__add-list" onclick="loadMore()">Tải thêm</button>
                            </div>
                            <script>
                                var displayedProducts = 18;
                                var productList = document.querySelector(".home-product-add");
                                var products = productList.querySelectorAll(".home-product-list");
                                if (displayedProducts >= products.length) {
                                    document.querySelector(".pagination__add").style.display = "none";
                                }
                                else {
                                	document.querySelector(".pagination__add").style.display = "block";
                                }
                                
                                //console.log(productList)
                                function loadMore() {
                                // Tăng số lượng sản phẩm đã hiển thị lên 3
                                    displayedProducts += 18;
                                    
                                    // Lấy danh sách các sản phẩm
                                    
                                   
                                    // Hiển thị các sản phẩm mới
                                    for (var i = 0; i < products.length; i++) {
                                        if (i < displayedProducts) {
                                            products[i].style.display = "block";
                                        }
                                    }
                                    
                                    // Ẩn nút "Tải thêm" nếu đã hết sản phẩm
                                    if (displayedProducts >= products.length) {
                                        document.querySelector(".pagination__add").style.display = "none";
                                    }
                                }

                            </script>
                        </div>                      
                    </div>
                </div>
                <!-- end đồ thú cưng -->
                <script type="text/javascript" th:src="@{../javascript/base.js}"></script>
            </div>
            <div th:replace="~{footer.html}"></div>
            </div>
    </div>
</body>
</html>