<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Siimple - Bootstrap Landing Page Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{../css/base.css}" rel="stylesheet">
  <link th:href="@{../css/style.css}" rel="stylesheet">
    
</head>

<body>
    <!-- th:style="background: url(\"../anh/hero-bg.jpg\") -->
    <div class="main" style="background: linear-gradient(90deg,#ff933f,#f93782 69%,#f93782);">
    
        <div class="container" id="hero">
            <h1>Chào mừng đến với Simple</h1>
            <h2>Vui lòng điền thông tin bên dưới để nhận thông báo cập nhật mới nhất!</h2>
            <div class="row no-gutters">
                <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your notification request was sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Notify me!</button></div>
                <div class="text-center">
                    <button class="btn" style="background-color: aquamarine;">Đăng ký</button>
                    <button class="btn" onclick="location.href='/login';">Đăng nhập</button>
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>