<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Web Book</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{../css/manage.css}">
        <style>
            img{
                width: 200px;
                height: 120px;
            }
            a {
            	text-decoration: none;
            	color: #fff;
            	cursor: pointer;
            }
            a:hover {
				text-decoration: none;
				color: #FF0000;
			}
			.none {
				display: none;
			}
			
            
        </style>
    <body>
    	<th:set var="cookie" value="${request.cookies}"/>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2><a href="/admin"><b>Web Book</b></a></h2>
                        </div>
                        <div class="col-sm-5">
                            <div th:if="${session.accountAdmin != null}" class="header__search">    
                                <div class="header__search-input__wrap">
                                	<form action="admin" method="get">
                                    <div class="header__search-box">
                                        <span class="header__search-icon"></span>
                                        <div class="header__search-content">
                                            <input oninput="searchName(this)" type="search" name="search" class="header__search-input" placeholder="Tìm kiếm tại đây"> 
                                        </div>
                                        <button class="header__search-button" type="submit" style="border: 0; font-size: 0.9rem">Tìm kiếm</button>
                                    </div>
                                	</form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a th:if="${session.accountAdmin != null}" th:href="@{/admin/{id}(id=-1)}"  class="btn btn-success" style="background: linear-gradient(90deg,#1a9545,#ea7221);" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm Sách Mới</span></a>
                            
                            <a th:if="${session.accountAdmin== null}" href="#loginEmployeeModal" class="btn btn-danger" id="btn-login" style="background: linear-gradient(90deg,#183545,#1a9cb7);" data-toggle="modal"><span>Đăng Nhập</span></a>     
                            <a th:if="${session.accountAdmin != null}" href="/admin/logout" class="btn btn-danger" id="btn-login" style="background: linear-gradient(90deg,#183545,#1a9cb7);" data-toggle="modal"><span>Đăng Xuất</span></a>                          				                     				
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                	<div id="myAlert" th:if="${succesMess}" class="col-12 alert alert-success alert-dismissible" role="alert">
                		<span th:text="${succesMess}"></span>
                		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                			<span aria-hidden="true">&times;</span>
                		</button>
                	</div>
                </div>
                <script type="text/javascript">
	                $(document).ready(function() {
	                    // Mờ dần đối tượng
	                    $("#myAlert").fadeTo(2000, 500).slideUp(500, function(){
	                        $("#myAlert").slideUp(500);
	                    });
	                });
                </script>
                <table id="table-sp" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Tác giả</th>
                            <th>Thể loại</th>
                            <th>Ngày phát hành</th>
                            <th>Số trang</th>
                            <th>Số lượng bán</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody id="content-tbody">
                        <div style="z-index: 1;">
                            <tr th:each="p : ${listP}">  
                                <td th:text="${p.nameB}">...</td>
                                <td th:text="${p.author}">...</td>
                                <td th:text="${p.category}">...</td>
                                <td th:text="${p.releaseDate}">...</td>
                                <td th:text="${p.pages}">...</td>
                                <td th:text="${p.sellNumber}">...</td>
                                <td class ="admin-none">
                                <!-- th:href="@{admin/{id}/delete(id = ${p.idB})}" -->
                                    <a th:href="@{/admin/{id}(id = ${p.idB})}"  class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" th:data-book-id="${p.idB}"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item page-item--left"><a>Previous</a></li>
                        <li class="page-item pading-item--number active" id="page-item--1"><a class="page-link">1</a></li>                        
						<li th:each="o : ${#numbers.sequence(2, count)}" class="page-item pading-item--number"><a class="page-link" th:text="${o}"></a></li>						
                        <li class="page-item page-item--right"><a class="page-link">Next</a></li>
                    </ul>
                </div>
                <input id="input-admin" type="hidden" th:value="${session.accountAdmin}">
            </div>
        </div>
        <script th:src="@{../javascript/manager.js}" type="text/javascript"></script>
        
        <script type="text/javascript">
        	const inputAdmin = document.querySelector("#input-admin");
        	var admin = document.querySelectorAll(".admin-none");
        	
        	if(inputAdmin.value ===""){
        		admin.forEach(function(index){
        			index.style.display = "none";
        		});
        	}else{
        		admin.forEach(function(index){
        			index.style.display = "block";
        		});
        	}
        </script>
        <!-- loginModal HTML -->
        <div id="loginEmployeeModal" class="modal fade" style="display: none">
            <div class="modal-dialog">
             	<form th:action="admin" method="POST" class="form-login" id="form-login">
	                <div class="auth-form" id="auth-form-login">
	                    <div class="auth-form__container">
	                        <div class="auth-form__header">
	                            <h3 class="auth-form__heading">Đăng nhập</h3>
	                        </div>
	
	                        <div class="auth-form__form">
	                            <div class="auth-form__group">
	                                <input name="name" th:value="${nameCAdmin}" type="text" id="name" class="auth-form__input" placeholder="Email/Nhập tên đăng nhập">
	                               
	                                <span class="form-message"></span> 
	                            </div>
	                            
	                            <div class="auth-form__group">
	                                <input name="password" th:value="${passCAdmin}" id="login_password" type="password" class="auth-form__input" placeholder="Nhập mật khẩu">
	                                <span class="form-message"></span>  
	                            </div>
	                        </div>
	    					<div class="error-mess" id="login_error-mess" style="margin: 5px 0; font-size: 1.3rem; color: #FF0000" th:text="${messlogin}">...</div>
	                        
	                        <div class="auth-form__controls">
	                            <!--  <button class="btn auth-form__controls-back btn--normal" type="button">Trở lại</button>-->
	                            <button class="btn btn--primary" id="login-submit" style="background: linear-gradient(90deg,#ff933f,#f93782 69%,#f93782);" type="submit">Đăng nhập</button>
	                        </div>
	    
	                    </div> 
	                    
	                </div>
	            </form>     
            </div>
        </div>
        
        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" th:action="@{admin/delete}" th:method="delete">
                    	<input type="hidden" id="book" name="bookId" th:value="${bookId}"> 	
						<div class="modal-header">						
                            <h4 class="modal-title">Xóa Sản Phẩm</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>Bạn có chắc chắn muốn xóa sản phẩm này không?</p>
                            <p class="text-warning"><small>Không thể hoàn tác hành động này!</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                            <input type="submit" class="btn btn-danger" value="Xóa">
                        </div>
                        <script>
						    $(document).on("click", ".delete", function () {
						        var bookId = $(this).data('book-id');
						        $("#deleteBookId").val( bookId );
					            $("input[name='bookId']").val(bookId);
						    });
						</script>
                    </form>
                </div>
            </div>
        </div>
        
        
        <script th:src="@{../javascript/validate.js}" type="text/javascript"></script>
        <script>
	        Validator({
	            form: "#form-login",
	            formGroupSelector: ".auth-form__group",
	            errorSelector: ".form-message",
	            rules: [
	                Validator.isRequired('#name'),
	                Validator.isRequired('#login_password'),
	            ]
	            // login
	        });
        </script>
    </body>
</html>