<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{../css/base.css}">
    <link rel="stylesheet" th:href="@{../css/main.css}">
    <link rel="stylesheet" th:href="@{../css/product_details.css}">
    <link rel="stylesheet" th:href="@{../css/gird.css}">
    <link rel="stylesheet" th:href="@{../css/responsive.css}">
</head>
<body>
    <div class="main">
        <div th:replace="~{navi.html}"></div>
        <div class="container">
            <div class="container__details-sp">
                <div class="grid wide">
                    <div class="container-details">
                        <div class="row c-gutter">
                                <!-- left -->
                            <div class="col l-4 m-4 c-12">
                                <div class="flex flex-column">
                                    <div class="U4yQzj">
                                        <div class="UuFd15">
                                        </div>
                                        <div class="container__left-img">
                               
                                            <div class="VWiifV qO2bZw" th:style="'background-image: url(/uploads/' + ${book.imageB} + '); background-size: contain; background-repeat: no-repeat;'"></div>
                                        </div>
                                    </div>
                                        <!--  -->
                                        <!-- hình ảnh -->
                                    <div>
                
                                    </div>
                                </div>
                            </div>
                                <!-- right -->
                            <div class="col l-8 m-8 c-12">
                                    <div class="flex-auto flex-column container__right-wrap">
                                        <!-- xếp hạng -->
                                        <div class="container__right-name">
                                            <span th:text="${book.nameB}">...</span>
                                        </div>
                                        <div class="container__home">
                                            <div class="flex home-right-quantity">
                                        		<div class="home-right-rating-gpa home-right-number" style="color: #ee4d2d;" th:text="${book.rating}"></div>
                                                <div class="home-right__rating-star">
		                                        	<div class="card-jfy-rating-layer top-layer checked home-right__rating--gold" style="width: 100%;">
		                                            	<i class="fa-solid fa-star"></i>
		                                            	<i class="fa-solid fa-star"></i>
		                                                <i class="fa-solid fa-star"></i>
		                                                <i class="fa-solid fa-star"></i>
		                                                <i class="fa-solid fa-star"></i>      
		                                            </div>
		                                            <div class="card-jfy-rating-layer">
		                                            	<i class="fa-solid fa-star"></i>
		                                            	<i class="fa-solid fa-star"></i>
		                                            	<i class="fa-solid fa-star"></i>
		                                            	<i class="fa-solid fa-star"></i>
		                                            	<i class="fa-solid fa-star"></i>          
		                                        	</div>
		                                    	</div>
                                                
                                            </div>
                                            <div class="home-right-quantity">
                                                <div class="home-right-number" th:text="${countRating}"></div>
                                                <div>Đánh giá</div>
                                            </div>
                                            <div class="home-right-quantity">
                                                <div class="home-right-number" th:text="${book.sumPrice}"></div>
                                                <div>Đã bán</div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
	                                        var ratingValue = parseFloat(document.querySelector('.home-right-rating-gpa').textContent);
	                                        var ratingWidth = ratingValue * 20; // Chuyển đổi từ điểm đánh giá (0-5) sang phần trăm (0-100)
	                                        var cardRatingLayer = document.querySelector('.top-layer');
	                                        cardRatingLayer.style.width = ratingWidth + '%';
                                        </script>
                                        
                                        <div class="container__origin">Ngày phát hành: <span th:text="${book.releaseDate}">...</span></div>
                                        <div class="container__origin">Tác giả: <span th:text="${book.author}">...</span></div> 
                                        <div class="container__origin">Số trang: <span th:text="${book.pages}">...</span></div>
                                        <!-- số lương và đặt hàng -->
                                        <div class="container__right-purchase" style="display: block;">
                                        	<form action="/buy-book" method="post">
                                        	<input name="idb" type="hidden" th:value="${book.idB}">
                                            <div class="container__right-purchase-list">
                                                <div class="flex flex-column">
                                                    <div class="flex container__right-purchase-item-center">
                                                        <div class="container__right-purchase-item-text">Số lượng</div>
                                                        <div style="display: flex; flex-direction: row; align-items: center;">
                                                            <div style="margin-right: 15px;">
                                                                <div class="container__right-purchase-input" style="display: flex; flex-direction: row;">
                                                                    <button class="container__right-purchase-input-btn" id="container__left" type="button">
                                                                        <i class="fa-solid fa-minus"></i>
                                                                    </button>
                                                                    <input type="text" id="quantity-input" name ="quantity" class="container__right-purchase-input-text" value="1" role="spinbutton" aria-valuenow="1">
                                                                    <button class="container__right-purchase-input-btn" id="container__right" type="button">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- dtn -->
                                            <div style="margin-top: 40px;">
                                                <div class="container__right-purchase-wrap">
                                                    <div class="container__right-purchase-btn" style="display: flex; flex-direction: row;">
	                                                   	<!--<button id="btn-add--login" class="btn btn-tinted btn--l container__right-purchase-btn__cart iFo-rx" type="button"aria-disabled="false">
	                                                    	<span>Thêm vào giỏ hàng</span>
	                                                    </button>-->
	                                                	<button class="btn btn-solid-primary btn--l container__right-purchase-btn__buy iFo-rx" type="submit" aria-disabled="false">Mua sách</button>
                                                    </div>
                                                </div>
                                            </div>
                                        	</form>
                                        </div>
                                        
                                        <!-- end số lượng và đặt hàng -->
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" th:src="@{../javascript/base.js}"></script>
                <script th:src="@{../javascript/main.js}"></script>
              
                <script>
          
                    const inputMax = 100;
                    productNumber({
                    	minus: "#container__left",
                    	plus: "#container__right",
                    	quantity: ".container__right-purchase-input-text",
                    	quamax: inputMax
                    });
                    
                    productSalary({
                    	quainput: "#quantity-input", 
                    	quantity: "1",
                    	quamax: inputMax
                    });
                    
                </script>

                <!-- end -->
                <!-- chi tiết sản phẩm -->
                <div class="container-wrap"></div>
                <div class="grid wide">
                    <div class="container-details-conten">
                        <div class="row c-gutter">
                            <div style="width: 95%;">
                                <div class="container-details-frame">Mô tả sản phẩm</div>
                                <div class="container-details-list">
                                    <div class="container-details-item">
                                        <div th:text="${book.title}">...</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- nhận xét -->
                <div class="container-wrap"></div>
                <div class="grid wide">
                    <div class="container-details">
                        <div class="row c-gutter">
                            <div style="width: 95%; background-color: #fffbf8; border: 1px solid #f9ede5; border-radius: 2px; padding: 1.875rem; margin: 1.875rem;">
                                <div class="container-details-frame">Đánh giá sản phẩm</div>
                                <div class="container-details-list">
                                    <div class="content">
                                        <div class="col l-2 m-2 c-1">
                                            <div class="content__left-summary">
                                                <div class="content__left-score">
                                                    <span class="content__left-score-average" th:text="${book.rating}">...</span>
                                                    <span class="content__left-score-max">/5</span>
                                                    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col l-10 c-10 m-11">
                                            <div>
                                                <button class="container__header-btn--selecter container__header-btn container__header-btn-1 container__header-btn--all">Tất cả</button>
                                                <button th:each="o : ${listRatingCounts}"  class="container__header-btn container__header-btn-1" th:text="${o.rating}+' Sao ('+${o.count}+')'"></button>
                                            </div>
                                            <div class="content__left-count" th:text="${countRating}+' Đánh giá'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shopee-product-rating-list">
                            <div class="shopee-product-rating-comment-list">
                                <div th:each="c:${listRatingAccounts}" class="shopee-product-rating">
                                	<input class ="rating-input" type="hidden" th:value="${c.rating}">
                                    <div class="shopee-product-rating__avatar">
                                        <div class="shopee-avatar">
                                            <div class="shopee-avatar__placeholder">
                                                <img th:src="'/uploads/'+${c.imageA}" alt="" class="shopee-avatar__img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shopee-product-rating__main">
                                        <div class="shopee-product-rating__author-name" th:text="${c.username}"></div>
                                        <div class="repeat-purchase-con">
                                            <div class="home-product-item__rating">
                                                <i th:each="star : ${#numbers.sequence(1, c.rating)}" class="home-product-item__rating--gold fa-solid fa-star"></i>
                                                <i th:if="${c.rating < 5}" th:each="star : ${#numbers.sequence(c.rating + 1, 5)}" class="fa-solid fa-star"></i> 
                                            </div>
                                        </div>
                                        <div class="petShop-product-rating__time" th:text="${c.dateRating}"></div>
                                        <div class="shopee-product-rating__name" th:text="${c.comment}"></div>
                                    </div>
                                </div>             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script type="text/javascript">
            $(document).ready(function() {
            	  $('.container__header-btn').click(function() {
            	    var selectedRating = $(this).text().charAt(0); // Lấy số sao từ nút được click
            	    
            	    if ($(this).hasClass('container__header-btn--all')) {           	     
            	      $('.shopee-product-rating').show();  // Nếu nút được click là nút "Tất cả", hiển thị tất cả đánh giá 
            	      $('.container__header-btn').not(this).removeClass('container__header-btn--selecter'); // Loại bỏ class "" khỏi tất cả các nút khác
            	      $(this).addClass('container__header-btn--selecter');
            	    } else {           	     
            	      $('.container__header-btn').not(this).removeClass('container__header-btn--selecter');// Loại bỏ class "" khỏi tất cả các nút khác           	      
            	      $(this).addClass('container__header-btn--selecter'); // Thêm class "" vào nút được click           	      
            	      // Loại bỏ class "container__header-btn-1" khỏi nút "Tất cả" (nếu có)
            	      $('.container__header-btn--all').removeClass('container__header-btn--selecter');
            	      
            	      // Ẩn tất cả các đánh giá
            	      $('.shopee-product-rating').hide();
            	      
            	      // Hiển thị các đánh giá có số sao phù hợp
            	      $('.shopee-product-rating input.rating-input').each(function() {
            	        if ($(this).val() == selectedRating) {
            	          $(this).closest('.shopee-product-rating').show();
            	        }
            	      });
            	    }
            	  });
            	});

            </script>
               <!-- sản phẩm -->
           
            <div class="container__details-product">
                <div class="container__details-product-text">Các sản phẩm khác của shop</div>
                        
                   <div class="grid wide">
	                    <div class="row sm-gutter">
	                        <div class="col l-12 m-12">
	                            <div class="home-product">
	                                <div class="row sm-gutter home-product-add">
	                                	<div th:each= "p: ${listProduct}" class="col l-2 m-4 c-6 home-product-list">
		                                	<a class="home-product-item" th:href="@{/book/{id}(id = ${p.idB})}">
		                                       	<div class="home-product-item__img"  th:style="'background-image: url(/uploads/' + ${p.imageB} + ');'"></div>
		                                        	<h5 class="home-product-item__name" th:text="${p.nameB}">...</h5>
		                                        <div class="home-product-item__origin">
		                                        	<span class="home-product-item__origin-title" th:text="${p.author}">...</span>
		                                      	</div>
		                                	</a>
		                            	</div>
	                                    
	                                </div>
	                            </div>
	                            <div class="pagination__add">
	                                <!-- <a class="pagination__add-list" href="">Tải thêm</a> -->
	                                <button class="pagination__add-list" onclick="loadMore()">Tải thêm</button>
	                            </div>
	                            <script>
	                                var displayedProducts = 18;
	                                var productList = document.querySelector(".home-product-add");
	                                var products = productList.querySelectorAll(".home-product-list");
	                                if (displayedProducts >= products.length) {
	                                    document.querySelector(".pagination__add").style.display = "none";
	                                }
	                                else {
	                                	document.querySelector(".pagination__add").style.display = "block";
	                                }
	                                
	                                //console.log(productList)
	                                function loadMore() {
	                                // Tăng số lượng sản phẩm đã hiển thị lên 3
	                                    displayedProducts += 18;
	                                    
	                                    // Lấy danh sách các sản phẩm
	                                    
	                                   
	                                    // Hiển thị các sản phẩm mới
	                                    for (var i = 0; i < products.length; i++) {
	                                        if (i < displayedProducts) {
	                                            products[i].style.display = "block";
	                                        }
	                                    }
	                                    
	                                    // Ẩn nút "Tải thêm" nếu đã hết sản phẩm
	                                    if (displayedProducts >= products.length) {
	                                        document.querySelector(".pagination__add").style.display = "none";
	                                    }
	                                }
	
	                            </script>
	                        </div>                      
	                    </div>
	                </div>
                <!-- end đồ thú cưng -->
                </div>
                <script type="text/javascript" th:src="@{../javascript/main.js}"></script>
                
                <div th:replace="~{footer.html}"></div>
            </div>
            <!-- end -->
            
     </div>
</body>
</html>