<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{../css/base.css}">
    <link rel="stylesheet" th:href="@{../css/main.css}">
    <link rel="stylesheet" th:href="@{../css/product_details.css}">
    <link rel="stylesheet" th:href="@{../css/gird.css}">
    <link rel="stylesheet" th:href="@{../css/responsive.css}">
    <style>
        .home-product-item__rating-text{
            font-size: 1.3rem;
            margin-bottom: -1.4px;
            margin-right: 5px;
        }
        .container__header-text {
            width: 100%;
            height: 200px;
            border: 1px solid #f5f5f5;
        }
        .fixed-size-text {
            padding: 4px 8px;
            width: 100%;
            height: 100%;
            resize: none;
            outline: none;
            border: 1px solid #817f7f;
            
        }
		.none {
			display: none;
		}
    </style>
</head>
<body>
    <div class="main">
        <div th:replace="~{navi.html}"></div>
        <div class="container">
            <div class="container__details-sp" style="padding-bottom: 15px">
                <div class="grid wide">
                    <div class="container-details">
                        <div class="row c-gutter">
                                <!-- left -->
                            <div class="col l-4 m-4 c-12">
                                <div class="flex flex-column">
                                    <div class="U4yQzj">
                                        <div class="UuFd15">
                                        </div>
                                        <div class="container__left-img">
                                            <div class="VWiifV qO2bZw" th:style="'background-image: url(/uploads/' + ${userPDetail.imageB} + ');' + 'background-size: contain; background-repeat: no-repeat;'"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                                <!-- right -->
                            <div class="col l-8 m-8 c-12">
                                    <div class="flex-auto flex-column container__right-wrap">
                                        <!-- xếp hạng -->
                                        <div class="container__right-name">
                                            <span th:text="${userPDetail.nameB}"></span>
                                        </div>
                                        
                                        <div class="container__origin">Tác giả: <span th:text="${userPDetail.author}"></span></div>
                                        
                                        <div class="container__price">
                                            <div style="color: #757575; font-size: 1.4rem"><span>Số lượng</span></div>
                                            <div class="container__price-new"><span th:text="${userPDetail.amount}"></span></div>
                                        </div>
                                        
                                        <!-- phân loại kích thước màu sắc -->
                                        <form th:object="${rProduct}" th:action="@{/order/save/{id}(id = ${rProduct.rating})}" th:method="${rProduct.rating}<=0 ? POST : PUT">
                                        	<input type="hidden" name="idb" th:value="${userPDetail.idB}">
                                        	<input type="hidden" name="ido" th:value="${userPDetail.idO}">
                                    
                                        	<input style="border: 2px solid #000" type="hidden" name ="rating" id="rating" th:value="${rProduct.rating}">
	                                        <div class="container__header">
	                                            <div class="container__header-wrap">
	                                                <Label class="container__header-name">Đánh giá</Label>
	                                                <div class="container__header-list" th:classappend="${rProduct.rating <=0 ? 'none' : ''}">
	                                                	<button type="button" class="container__header-btn container__header-btn--selecter">
														    <span class="home-product-item__rating-text" th:text="${rProduct.rating}"></span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
	                                                </div>
	                                                <div class="container__header-list" th:classappend="${rProduct.rating >0 ? 'none' : ''}">
	                                                	<button type="button" class="container__header-btn"
														        th:classappend="${rProduct.rating == 1 ? 'container__header-btn--selecter' : ''}">
														    <span class="home-product-item__rating-text">1</span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
														<button type="button" class="container__header-btn"
														        th:classappend="${rProduct.rating == 2 ? 'container__header-btn--selecter' : ''}">
														    <span class="home-product-item__rating-text">2</span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
														<button type="button" class="container__header-btn"
														        th:classappend="${rProduct.rating == 3 ? 'container__header-btn--selecter' : ''}">
														    <span class="home-product-item__rating-text">3</span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
														<button type="button" class="container__header-btn"
														        th:classappend="${rProduct.rating == 4 ? 'container__header-btn--selecter' : ''}">
														    <span class="home-product-item__rating-text">4</span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
														<button type="button" class="container__header-btn"
														        th:classappend="${rProduct.rating == 5 ? 'container__header-btn--selecter' : ''}">
														    <span class="home-product-item__rating-text">5</span>
														    <i class="home-product-item__rating--gold fa-solid fa-star"></i>
														</button>
	                                                               
	                                                </div>
	                                            </div>
	                                            
	                                            <div class="container__header-wrap" style="display: block;">
	                                                <div><Label class="container__header-name">Nhận xét</Label></div>
	                                                <div class="container__header-list">
	                                                    <div class="container__header-text">
	                                                        <textarea class="fixed-size-text" name="comment" id="" cols="30" rows="10" placeholder="Nhận xét/Bình luận về sản phẩm" th:value="${rProduct.comment}" th:text="${rProduct.comment}"></textarea>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        
	                                            <!-- dtn -->
	                                            <div style="margin-top: 40px; margin-bottom: 20px">
	                                                <dib class="container__right-purchase-wrap">
	                                                    <div class="container__right-purchase-btn" style="display: flex; flex-direction: row;">
	                                                        <button class="btn btn-tinted btn--l container__right-purchase-btn__cart iFo-rx" type="button"aria-disabled="false" onclick="location.href='/order';"><span>Trở về</span></button>
	                                                        
	                                                        <button th:if="${rProduct.rating}<= 0" class="btn btn-solid-primary btn--l container__right-purchase-btn__buy iFo-rx" aria-disabled="false">Đánh giá</button>
	                                                        <div th:if="${rProduct.rating}>0">
	                                                        	<button id="btn_rating--edit" class="btn btn-solid-primary btn--l container__right-purchase-btn__buy iFo-rx" type="button" aria-disabled="false">Đổi đánh giá</button>
	                                                        	<button id="btn_rating--save" class="btn btn-solid-primary btn--l container__right-purchase-btn__buy iFo-rx" aria-disabled="false">Lưu đánh giá</button>
	                                                        </div>
	                                                        <button id="btn_rating--remove" class="btn btn-solid-primary btn--l container__right-purchase-btn__buy iFo-rx" type="button" aria-disabled="false">Hủy</button>
	                                                    </div>
	                                                    
	                                                </dib>
	                                            </div>
                                            </form>
                                        </div>
                                       
                                    </div>
                                    <script src="./javascript/user_product.js"></script>
					                <script>
					                	SelectOne({
					                        id: ".container__header-btn",
					                        action: "container__header-btn--selecter",
					                        rating: "#rating"
					                    });
					                
						            	const save = document.getElementById("btn_rating--save");
						            	const edit = document.getElementById("btn_rating--edit");
						            	if(edit != undefined){
						            		save.style.display ="none";
						            		edit.style.display ="flex";
						            		var inputs = document.querySelectorAll('input, textarea,.container__header-btn');
												
						            		// Lặp qua danh sách các phần tử input và textarea và thêm/xoá thuộc tính readonly và disabled
						            		//document.querySelector('.custom-file-upload').style.cu
						            		inputs.forEach(function(input) {
						            		    input.setAttribute('readonly', 'readonly');
						            		    input.setAttribute('disabled', 'disabled');
						            		  
						            		});
						
						            		edit.addEventListener('click', function(e){
						            			e.preventDefault();
						            			save.style.display='flex';
						            			edit.style.display ="none";
						            			inputs.forEach(function(input) {
						                  		  if (input.hasAttribute('readonly') || input.hasAttribute('disabled')) {
						                  		    input.removeAttribute('readonly');
						                  		    input.removeAttribute('disabled');
						                  		  } else {
						                  		    input.setAttribute('readonly', 'readonly');
						                  		    input.setAttribute('disabled', 'disabled');
						                  		  }
						                  		});
						            		});
						            	}
					            	</script>
                            </div>
                        </div>
                    </div>
                </div>
            <div th:replace="~{footer.html}"></div>
    	</div>
           
	</div>
</body>
</html>